/* USER VARIABLES SECTION */

:root {
	--accent: #509121;
	--background: #FFFF;
	--text: #1A1D27;
	--regular-text: 20px;
	--gap: 25px;
	--lineheight: 2;
	--buttonbackground: #509121;
	--userfont: roboto-st, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
	--bs-gutter-x: .625rem;
}

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

.row, .row>* {
	--bs-gutter-x: 1.25rem;
}

a {
	text-decoration: none;
	color: inherit;
	transition: all .5s ease;
}

a:hover {
	color: #509121;
	outline: 0 !important
}

/* FONTS LOAD SECTION */

@font-face {
	src: url("../fonts/roboto-regular-webfont.woff2") format("woff2");
	font-family: "roboto-st";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("../fonts/roboto-italic-webfont.woff2") format("woff2");
	font-family: "robotoitalic-st";
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url("../fonts/roboto-bold-webfont.woff2") format("woff2");
	font-family: "roboto-st";
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url("../fonts/roboto-bolditalic-webfont.woff2") format("woff2");
	font-family: "roboto-st";
	font-weight: 700;
	font-style: italic;
}

@font-face {
	src: url("../fonts/OpenSansRegular.woff") format("woff2");
	font-family: "OpenSansRegular-st";
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url("../fonts/OpenSansCondensed-Light.woff") format("woff2");
	font-family: "OpenSansCondensed-st";
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url("../fonts/RobotoCondensedRegular.woff") format("woff2");
	font-family: "RobotoCondensedRegular-st";
	font-weight: 400;
	font-style: regular;
}

@font-face {
	src: url("../fonts/RobotoCondensedBold.woff") format("woff2");
	font-family: "RobotoCondensedBold-st";
	font-weight: 700;
	font-style: bold;
}

@font-face {
	src: url("../fonts/RobotoCondensedRegular.woff") format("woff2");
	font-family: "RobotoCondensedRegular-st";
	font-weight: 400;
	font-style: regular;
}


a {
	text-decoration: none;
	color: inherit;
	/* transition: background-color 0.3s ease; */
}

/* GENERAL CSS SETTINGS */

::placeholder {
	color: #666;
}

::selection {
	background-color: var(--background);
	color: #fff;
}

/* input, textarea {
	outline: none;
}

input:focus:required:invalid, textarea:focus:required:invalid {
	border-color: var(--accent);
} */

input:required:valid, textarea:required:valid {
	border-color: rgb(10, 153, 10);
}

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

.landing-section {
	padding: 80px 0;
}

.grid {
	display: grid;
}

.flex {
	display: flex;
}

/* USER STYLES */

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.accent {
	color: var(--accent);
	font-weight: bold;
}

/* HEADER STYLES */
.header_top {
	background-color: var(--background);
	height: auto;
}

.logo {
	width: 100%;
}

.menu_top {
	height: 100px;
	padding: 0 20px;
	justify-content: space-between;
	align-items: center;
	font-family: RobotoCondensedRegular-st;
}

.menu_items {
	justify-content: space-between;
	width: 600px;
	font-size: 18px;
}

.advantages_top {
	background-image: url(../images/fons.png);
	background-position: center;
	background-size: cover;
}

.header {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.21) 50%, transparent 50%);
	/* min-height: 90vh; */

}

.headers {
	min-height: 90vh;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: center;
}

.header_left {
	/* min-height: 100%; */
	align-items: center;
	justify-items: start;
	padding-left: 50px;
	padding-right: 30px;
	position: relative;
}

.header_right {
	height: 40%;
	width: 100%;
	justify-content: start;
	align-items: start;
	position: relative;
}

.header_right .number {
	position: relative;
	/* top: -17%; */
	left: 30px;
	font-weight: 700;
	font-size: 106px;
	line-height: 75px;
	font-family: var(--userfont);
	color: #FFFFFF;
}

.header_left .work_org {
	font-weight: normal;
	font-size: 56px;
	line-height: 75px;
	display: flex;
	align-items: center;
	font-family: var(--userfont);
	align-self: flex-start;
	position: relative;
	color: #FFFFFF;
	margin-bottom: 40px;

}

.header_left p {
	font-family: var(--userfont);
	color: #FFFFFF;
	font-style: normal;
	font-size: var(--regular-text);
	line-height: 40px;
	margin-bottom: 80px;
}

.buttoncase {
	grid-column: 1/2;
	padding: 20px 20px 50px;
}

.button {
	display: inline-block;
	width: 200px;
	border: none;
	color: #fff;
	text-decoration: none;
	background-color: var(--accent);
	padding: 15px;
	font-family: OpenSansRegular-st;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0em;
	border-radius: 2px;
	text-align: center;
	position: relative;
	outline: 0;
	-webkit-transition: background-color 0.8s ease;
	-o-transition: background-color 0.8s ease;
	transition: background-color 0.8s ease;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*SLIDER*/
.sliders {
	background-color: #1A1D27;
}

.wrapper {
	height: 100%;
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;

}

/* @media (max-width:767px) {
	.wrapper {
		padding: 50px 10px;
	}
} */

/* Основные стили */

/* Слайдер */
.slick-slider {
	min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}

/* Лента слайдов */
.slick-track {
	display: flex;
	align-items: flex-start;
}

/* Слайд */
.slick-slide {}

/* Слайд активный */
.slick-slide.slick-active {}

/* Слайд основной */
.slick-slide.slick-current {}

/* Слайд по центру */
.slick-slide.slick-center {}

/* Стрелка */
.slick-arrow {}

/* Стрелка влево */
.slick-arrow.slick-prev {}

/* Стрелка вправо */
.slick-arrow.slick-next {}

/* Стрелка не активная */
.slick-arrow.slick-disabled {}

/* Точки */
.slick-dots {}

.slick-dots li {}

.slick-dots button {}

/* Конкретный слайдер */
.slider {
	width: 100%;
	position: relative;
	padding: 0px 60px;
}

..slider @media (max-width:767px) {
	.slider {
		padding: 0px 40px;
	}
}

.slider .slick-arrow {
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}

.slider .slick-arrow.slick-prev {
	left: 0;
	background: url('../images/arrow.svg') 0 0 / 100% no-repeat;
	background-color: #1A1D27;
}

.slider .slick-arrow.slick-next {
	right: 0;
	background: url('../images/arrow.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-disabled {
	opacity: 0.2;
}

.slider .slick-dots {
	display: flex;
	/* align-items: center;
	justify-content: center; */
}

.slider .slick-dots li {
	list-style: none;
	margin: 0px 10px;
}

.slider .slick-dots button {
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
	background-color: transparent;
	border: 1px solid #fff;
}

.slider__item {
	padding: 0px 15px;
}

.slider__item img {
	max-width: 100%;
}

.slider__item.slick-center {}